@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using Apotheca.Navigation
@model Apotheca.ViewModels.Category.CategoryViewModel
@{
    Layout = "Content/Layouts/MainLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Maintain Categories</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        This page is a placeholder for the categorisation of documents.
    </div>
</div>
