<div class="apotheca-viewer">
    <div class="apotheca-viewer-wrapper">
        <div class="apotheca-viewer-title">
            <div class="apotheca-viewer-title-spacer">Loading Dashboard...</div>
            <a class="mat-button" href="#" mat-button style="float:right;" color="primary">Add store</a>
        </div>
        <div class="apotheca-viewer-body">
            <mat-card>Simple card</mat-card>
            <mat-card>Simple card</mat-card>
            <mat-card>Simple card</mat-card>
            <mat-card>Simple card</mat-card>
            <mat-card>Simple card</mat-card>
            <mat-card>Simple card</mat-card>
            <mat-card>Simple card</mat-card>
            <mat-card>Simple card</mat-card>
            <mat-card>Simple card</mat-card>
        </div>
</div>