<div class="dashboard-panel">
    <div class="dashboard-viewer-wrapper">
        <div class="dashboard-viewer-title">
            <div class="dashboard-viewer-title-spacer">test</div>
        </div>
        <div class="dashboard-viewer-body">
            <mat-card>Simple card</mat-card>
            <mat-card>Simple card</mat-card>
            <mat-card>Simple card</mat-card>
            <mat-card>Simple card</mat-card>
            <mat-card>Simple card</mat-card>
            <mat-card>Simple card</mat-card>
            <mat-card>Simple card</mat-card>
            <mat-card>Simple card</mat-card>
            <mat-card>Simple card</mat-card>
        </div>
</div>