<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file-log" xsi:type="File"
        layout="${longdate} ${uppercase:${level}} ${message}"
        fileName="${basedir}/logs/log.txt"
        archiveFileName="${basedir}/logs/log-${shortdate}.{#}.txt"
        archiveEvery="Minute"
        archiveNumbering="Rolling"
        maxArchiveFiles="3"
        concurrentWrites="true" />
    <target xsi:type="File" name="file-crash" fileName="${basedir}/logs/Crash-${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file-log" />
    <logger name="*" minlevel="Fatal" writeTo="file-crash" />
  </rules>
</nlog>