<div class="apotheca-viewer">
    <div class="apotheca-viewer-wrapper">
        <div class="apotheca-viewer-title">
            <div class="apotheca-viewer-title-spacer">test</div>
            <a class="mat-button" href="#" mat-button style="float:right;" color="primary">Add folder</a>
            <a class="mat-button" href="#" mat-button style="float:right;" color="primary">Add file</a>
        </div>
        <div class="apotheca-viewer-body">
          <mat-tab-group>
              <mat-tab label="Files"> 
                <mat-card>Simple card</mat-card>
                <mat-card>Simple card</mat-card>
                <mat-card>Simple card</mat-card>
                <mat-card>Simple card</mat-card>
                <mat-card>Simple card</mat-card>
                <mat-card>Simple card</mat-card>
                <mat-card>Simple card</mat-card>
                <mat-card>Simple card</mat-card>
                <mat-card>Simple card</mat-card>
              </mat-tab>
              <mat-tab label="Details"> Content 1 </mat-tab>
          </mat-tab-group>
        </div>
</div>