@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@model Apotheca.ViewModels.Login.LoginViewModel
@{
    Layout = "Content/Layouts/BasicLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <i id="spinner" class="hide fa fa-circle-o-notch fa-spin fa-lg fa-fw pull-right"></i>
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <div id="msg-error" class="alert alert-danger hidden" role="alert">An error occurred.</div>
                    <form role="form" method="post" action="/login">
                        <fieldset>
                            <div class="form-group">
                                <input id="email" class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                            </div>
                            <div class="form-group">
                                <input id="password" class="form-control" placeholder="Password" name="password" type="password" value="">
                            </div>
                            @*
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div>
                            *@
                            <button id="btn-login" type="button" class="btn btn-lg btn-success btn-block">Login</button>
                        </fieldset>
                        <input id="returnUrl" type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

