@page
@model IndexModel

@{
    ViewData["Title"] = "Log in";
}
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-6">
        <div>
            <div>
                <h1 class="home-header">Document management made easy</h1>
            </div>
            <div class="home-text">
                <p>Apotheca is a document management system for storing and generating documents.</p>
                <p>It provides document storage and versioning, an interface for the generation of documents with dynamic data, and the ability to convert documents into different formats.</p>
            </div>
            <div class="row">&nbsp;</div>
            <div class="acol-xs-4">
                <a asp-page="/Account/Register" class="btn btn-primary home-text">Register Account</a>
            </div>
            <div class="row">&nbsp;</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Sign in with an existing account</h3>
            </div>
            <div class="login-box">
                <div class="login-box-body">
                    <form method="post" asp-page-handler="/Accounts/Login">
                        <div asp-validation-summary="All"></div>
                        <div class="form-group has-feedback">
                            <input asp-for="Input.Email" type="email" class="form-control" placeholder="Email">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="checkbox icheck">
                                    <label>
                                        <div class="checkbox">
                                            <label asp-for="Input.RememberMe">
                                                <input asp-for="Input.RememberMe" />
                                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                                            </label>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-xs-4">
                                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>

                    <div class="social-auth-links text-center">
                        <p>- OR -</p>
                        <a href="#" class="btn btn-block btn-social btn-facebook btn-flat disabled">
                            <i class="fa fa-facebook"></i> Sign in using Facebook
                        </a>
                        <a href="#" class="btn btn-block btn-social btn-google btn-flat disabled" title="Google+ authorization has not been implemented yet">
                            <i class="fa fa-google-plus"></i> Sign in using Google+
                        </a>
                    </div>
                    <!-- /.social-auth-links -->

                    <a asp-page="/Account/ForgotPassword">I forgot my password</a><br>
                    <a asp-page="/Account/Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-center">Register a new account</a>

                </div>
                <!-- /.login-box-body -->
            </div>

            <!-- /.login-box -->
        </div>
    </div>

</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
