/* Bootstrap overrides */
.page-header {
    margin-top: 20px;
}

/* Dropzone overrides */
.dropzone {
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* Margin styles */
.margin-top-0 {
    margin-top: 0pt;
}
.margin-top-10pc {
    margin-top: 10%;
}
.margin-bottom-15px {
    margin-bottom: 15px;
}
.info-panel {
    padding: 12px;
}

