.bg-word {
    background-color: rgb(43,87,151) !important;
    color: white;
}
/* fixes alignment of checkbox items in forms (e.g. register page) */
.box-terms input[type="checkbox"] {
    position: relative;
    margin-left: 0px;
}
.home-header {
    margin: 0px;
    margin-bottom: 20px;
}

.home-text {
    font-size: 18px;
}
