@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using Apotheca.Navigation
@model Apotheca.ViewModels.User.UserViewModel
@{
    Layout = "Content/Layouts/BasicLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="margin-top-10pc">Administrator Setup</h2>
            <div class="login-panel panel panel-default margin-top-0">
                <div class="panel-heading">
                    <h3 class="panel-title">Welcome! Let's set up an administrator for Apotheca.</h3>
                </div>
                <div class="panel-body">
                    @Html.Partial("Content/Views/Shared/_ValidationErrorPanel.cshtml", Model.ValidationErrors)
                    @Html.Partial("Content/Views/User/_UserForm.cshtml", Model)
                    <button type="button" class="btn btn-lg btn-primary btn-block" onclick="document.forms[0].submit()">Create account</button>
                </div>
            </div>
        </div>
    </div>
</div>
